<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
<mat-toolbar>
    <h2 class="logo_font">WikiMengo</h2>
    <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Flamengo_braz_logo.svg/80px-Flamengo_braz_logo.svg.png?20220918184106">
    <div class="btns">
        <a mat-button routerLink="/players" routerLinkActive="active">Jogadores</a>
        <a mat-button routerLink="/add" routerLinkActive="active">Adicionar</a>
    </div>
</mat-toolbar>