<mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-subtitle>{{player?.subtitle}}</mat-card-subtitle>
      <mat-card-title>{{player?.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{player?.image}} alt="Photo of a Shiba Inu">
    <mat-card-content>
  
        <p>Posição: {{player?.position}} </p>
        <p>Nacionalidade: {{player?.nationality}}<p>
        <p>Valor: {{player?.MarketValue | currency:'EUR'}} M</p>
        <p>Nascimento (Idade): {{player?.birthDate | date:'dd/MM/yyyy'}} {{player?.birthDate | age}}</p>

      <!-- <p>
        Giorgian Daniel De Arrascaeta Benedetti, mais conhecido como De Arrascaeta ou somente Arrascaeta, é um futebolista uruguaio que atua como meio-campista.
      </p> -->
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>